<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>${packageProject}</groupId>
  <artifactId>${project}</artifactId>
  <version>1.0-SNAPSHOT</version>
  <packaging>pom</packaging>


  <parent>
    <groupId>org.springframework.boot</groupId>
    <artifactId>spring-boot-starter-parent</artifactId>
    <version>2.0.1.RELEASE</version>
  </parent>

  <modules>
    <module>${project}-server</module>
    <module>${project}-service</module>
    <module>${project}-api</module>
    <module>${project}-dao</module>
    <module>${project}-common</module>
  </modules>

  <name>${project}</name>
  <url>http://www.example.com</url>

  <properties>
    <!--<spring-data-releasetrain.version>Fowler-SR2</spring-data-releasetrain.version>-->
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
  </properties>

  <dependencies>
  </dependencies>

  <dependencyManagement>
    <dependencies>
      <dependency>
        <groupId>org.springframework.cloud</groupId>
        <artifactId>spring-cloud-dependencies</artifactId>
        <version>Finchley.SR1</version>
        <type>pom</type>
        <scope>import</scope>
      </dependency>
    </dependencies>
  </dependencyManagement>


  <repositories>
    <repository>
      <id>spring-snapshots</id>
      <url>http://10.125.211.22:8081/repository/maven-public</url>
      <snapshots>
        <enabled>true</enabled>
      </snapshots>
    </repository>
  </repositories>
  <distributionManagement>
    <repository>
      <id>kye-releases</id>
      <name>kye-releases</name>
      <url>http://10.125.211.22:8081/repository/kye-releases/</url>
    </repository>
    <snapshotRepository>
      <id>kye-snapshots</id>
      <name>kye-snapshots</name>
      <url>http://10.125.211.22:8081/repository/kye-snapshots/</url>
      <uniqueVersion>true</uniqueVersion>
    </snapshotRepository>
  </distributionManagement>
  <pluginRepositories>
    <pluginRepository>
      <id>spring-snapshots</id>
      <name>Spring Snapshots</name>
      <url>http://10.125.211.22:8081/repository/maven-public</url>
      <snapshots>
        <enabled>true</enabled>
      </snapshots>
    </pluginRepository>
    <pluginRepository>
      <id>spring-milestones</id>
      <name>Spring Milestones</name>
      <url>http://10.125.211.22:8081/repository/maven-public</url>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
    </pluginRepository>
  </pluginRepositories>
</project>
